.cart-menu {
    min-height: 250px;
    min-height: 50px;
    transform: translateY(40px);

    transition: all ease-in-out .5s;
}

/* .cart-menu::before {
    content: '';
    
    width: 20px;
    height: 20px;

    background-color: white;
    border: solid 2px #BDBDBD;
    
    position: absolute;
    top: -10px;
    left: 47%;

    rotate: 45deg;
} */

.cart-menu__total-price span {
    font-weight: 500;
    font-size: 18px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.cart-menu__total-price b {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
}