.header-logo__title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
}

.header-logo__title h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}